/srccache
/DelimitedFiles-*
/Pkg-*
/Statistics-*
/LibCURL-*
/Downloads-*
/ArgTools-*
/Tar-*
/NetworkOptions-*
/SuiteSparse-*
/SparseArrays-*
/SHA-*
/LazyArtifacts-*
/Distributed-*
/StyledStrings-*
/JuliaSyntaxHighlighting-*
/LinearAlgebra-*
/*_jll/StdlibArtifacts.toml
/*/Manifest.toml
/*.image
